:root {
  --main-color-black: #2B3939;
  --main-color-white: #fff;
  --main-color-grey: #5CA5A5;
  --main-color-grey-opasity: #effafa;

}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/league-spartan-v5-latin-regular.woff2') format('woff2'),
    url('../fonts/league-spartan-v5-latin-regular.woff') format('woff');
}

/* league-spartan-500 - latin */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/league-spartan-v5-latin-500.woff2') format('woff2'),
    url('../fonts/league-spartan-v5-latin-500.woff') format('woff');
}

/* league-spartan-700 - latin */
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/league-spartan-v5-latin-700.woff2') format('woff2'),
    url('../fonts/league-spartan-v5-latin-700.woff') format('woff');
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--main-color-grey-opasity);
  font-family: 'League Spartan', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.banner {
  height: 152px;
  background-image: url("../images/Combined\ Shape.png");
  background-size: cover;
}

.hero {
  padding: 76px 0 120px 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--main-color-white);
  -webkit-box-shadow: 0px 15px 20px -5px #0d718226;
          box-shadow: 0px 15px 20px -5px #0d718226;
  border-radius: 5px;
  border-left: 5px solid transparent;
}

.list-item:nth-child(1)  {
  border-left: 5px solid #5CA5A5;
}
.list-item:nth-child(2)  {
  border-left: 5px solid #5CA5A5;
}
.list-item:nth-child(2) .logo::before {
  background-image: url("../images/manage.svg");
}

.list-item:nth-child(3) .logo::before {
  background-image: url("../images/account.svg");
}

.list-item:nth-child(4) .logo::before {
  background-image: url("../images/myhome.svg");
}

.list-item:nth-child(5) .logo::before {
  background-image: url("../images/loop-studios.svg");
}

.list-item:nth-child(6) .logo::before {
  background-image: url("../images/gradient.svg");
}

.list-item:nth-child(7) .logo::before {
  background-image: url("../images/shortly.svg");
}

.list-item:nth-child(8) .logo::before {
  background-image: url("../images/insure.svg");
}

.list-item:nth-child(9) .logo::before {
  background-image: url("../images/eyecam.svg");
}

.list-item:nth-child(10) .logo::before {
  background-image: url("../images/griyn-logo.svg");
}

.list-item:hover {
  -webkit-box-shadow: 0px 15px 20px -5px #0d718226;
          box-shadow: 0px 15px 20px -5px #0d718226;

  border-left: 5px solid #5CA5A5;
}

.list-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.logo {
  width: 88px;
  height: 88px;
  margin-right: 24px;
}
.logo::before {
  content: "";
  width: 88px;
  height: 88px;
  display:block;
  background-image: url("../images/photosnap.svg");
  background-size: cover;
  margin-right: 24px;
}

.componiy {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color-grey);
  margin-right: 16px;
}

.new {
  padding: 5px 8px;
  font-weight: 700;
  font-size: 11px;

  color: var(--main-color-white);
  background-color: var(--main-color-grey);
  border-radius: 12px;
  margin-right: 16px;
}

.featured {
  padding: 5px 8px;
  color: var(--main-color-white);
  background-color: var(--main-color-black);
  border-radius: 12px;
  font-weight: 700;
  font-size: 11px;

}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-color-black);
  margin: 8px 0;
}

.title:hover {
  color: var(--main-color-grey);
}

.texts-list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.texts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7C8F8F;
  position: relative;
  margin-right: 32px;
}

.texts-item:nth-child(2) .texts-link::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #B7C4C4;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 4px;
}

.texts-item:nth-child(3) .texts-link::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #B7C4C4;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 4px;
}

.btn {
  margin-left: 16px;
  color: var(--main-color-grey);
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  background-color: var(--main-color-grey-opasity);
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:first-child {
  margin-left: 0;
}
.btn:hover {
  background-color: var(--main-color-grey);
  color: var(--main-color-white);
}

.link {
  text-decoration: none;
}

@media (max-width:875px) {
  .list-item {
    display: block;
  }

  .btn {
    margin: 16px 16px 16px 0;
  }
}

@media (max-width:450px) {
  .list-item {
    position: relative;
  }

  .list-item-left {
    display: block;
  }

  .logo {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -25px;
  }

  .btn {
    margin: 16px 16px 0 0;
  }

  .texts-list {
    padding-bottom: 16px;
    border-bottom: 1px solid #B7C4C4;
  }

  .texts-link {
    margin-right: 16px;
  }

  .texts-item:nth-child(2) .texts-link::before {
    left: -8px;
  }

  .texts-item:nth-child(3) .texts-link::before {
    left: -8px;
  }
}